@import url('./reset.css');
@import url('./base.css');

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f6f7;
  color: #212121;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.search-section {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 32px;
}

.form {
  display: flex;
  gap: 8px;
}

input {
  padding: 8px 16px;
  border: 1px solid #808080;
  width: 270px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  color: #808080;
}

input:hover,
input:focus {
  border-color: #4e75ff;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
  text-decoration: none;
  line-height: 0;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
}

.info-item b {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 4px;
  /* Відступ до значення */
}

.info-item-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  font-weight: 500;
  display: block;
  margin: 32px auto;
}

.load-more-btn:hover {
  background-color: #6c8cff;
}

/* Клас для приховування елементів */
.is-hidden {
  display: none !important;
}